# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
venv/

# SQLite data
data/
*.db

# VSCode / PyCharm
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
/backend/.venv/
backend/.env
*.log

# FastAPI / Uvicorn artifacts
*.pid
*.sock

# Testing
htmlcov/
.coverage
